6_17 第一次備份/flows_iot.json
[{"id":"329e60d5.b5d5a","type":"tab","label":"Flow 1"},{"id":"c648e5bb.eafce8","type":"tab","label":"Flow 2"},{"id":"a6bee67b.bbbb78","type":"firebase config","z":"","firebaseurl":"iot-test-3fd24","loginType":"none"},{"id":"46c25fea.93f5c","type":"mqtt-broker","z":"","broker":"broker.mqttdashboard.com","port":"8000","clientid":"clientId-U8NJaXTU2Q","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"ce5472bc.34e73","type":"websocket-listener","z":"329e60d5.b5d5a","path":"/ws/simpleled","wholemsg":"false"},{"id":"9d1c1f37.12df6","type":"twitter-credentials","z":"","screen_name":"@iot_asia_dev"},{"id":"93b81480.21fc38","type":"twitter-credentials","z":"","screen_name":"@iot_asia_dev"},{"id":"ef4fc553.c3fdf8","type":"inject","z":"329e60d5.b5d5a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":200,"wires":[["67cf1fe7.389f5"]]},{"id":"a69dd03c.19dfd","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"false","complete":"false","x":198.9999771118164,"y":321.9999771118164,"wires":[]},{"id":"67cf1fe7.389f5","type":"function","z":"329e60d5.b5d5a","name":"","func":"var sensor = global.get('sensor');\n\nsensor.initialize(11, 4);\nvar readout = sensor.read();\nmsg.topic=\"temp\";\nmsg.payload = { 溫度:readout.temperature.toFixed(2) + \" 度C\" , 濕度:readout.humidity.toFixed(2) + \" %\" };\nconsole.log(msg);\nreturn msg;\n","outputs":1,"noerr":0,"x":159.99998474121094,"y":252.99998092651367,"wires":[["a69dd03c.19dfd"]]},{"id":"9813512f.44973","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"false","complete":"true","x":290,"y":760,"wires":[]},{"id":"fde2ddf3.94423","type":"catch","z":"329e60d5.b5d5a","name":"","x":140,"y":760,"wires":[["9813512f.44973"]]},{"id":"6f6941fe.6164b","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"false","complete":"payload","x":619.8958168029785,"y":599.000054359436,"wires":[]},{"id":"b5095c82.27511","type":"comment","z":"329e60d5.b5d5a","name":"firebase.once() example flow","info":"This flow is the same as the\nfirebase.on() example flow, \nexcept that it uses \nfirebase.once(\"value\") to query Firebase\nin the middle of a flow and return a \nresponse synchronously (as opposed to \nstarting a flow whenever the firebase.on()\nevent is triggered).\n\n\nThe inject node begins the flow\nevery 5 seconds and the debug node logs \nthe weather in San Francisco, CA.","x":170.39581680297852,"y":563.000054359436,"wires":[]},{"id":"b540f7e1.c52b08","type":"firebase.once","z":"329e60d5.b5d5a","name":"test","firebaseconfig":"a6bee67b.bbbb78","childpath":"sanfrancisco","repeatifnull":false,"eventType":"value","queries":[],"x":388.8958053588867,"y":599.0000820159912,"wires":[["6f6941fe.6164b"]]},{"id":"72a50de7.ba4a64","type":"inject","z":"329e60d5.b5d5a","name":"","topic":"","payload":"","payloadType":"date","repeat":"18000","crontab":"","once":false,"x":176.89581680297852,"y":599.000054359436,"wires":[["b540f7e1.c52b08"]]},{"id":"97633995.6df7a8","type":"firebase modify","z":"329e60d5.b5d5a","name":"test","firebaseconfig":"a6bee67b.bbbb78","childpath":"myHomeTown","method":"set","value":"msg.payload","priority":"","x":517.8958168029785,"y":705.000054359436,"wires":[[]]},{"id":"5d9cc577.7c571c","type":"inject","z":"329e60d5.b5d5a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":174.89581680297852,"y":705.000054359436,"wires":[["ec0576e.7aa4c88"]]},{"id":"ec0576e.7aa4c88","type":"change","z":"329e60d5.b5d5a","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"my weather station data...!","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":353.8958168029785,"y":705.000054359436,"wires":[["97633995.6df7a8"]]},{"id":"db2b682b.d25e08","type":"comment","z":"329e60d5.b5d5a","name":"firebase modify example flow","info":"This flow attempts to set data at the \nfirebase location.  \n\nUnfortunately, the open data set firebase\nwe are using has security rules in place\nand we are unauthorized!  \n\nThe set node will fail and generate a \nNode-Red error.  The catch node will \nreceive the message that caused this \nerror and log it to the debug tab.\n\nThis flow is fired once at Deploy time\nand when Node-Red is first started up.\nYou can also click the button on the \ninject node to fire it whenever you like.","x":170.39581680297852,"y":668.000054359436,"wires":[]},{"id":"e1518b2f.235478","type":"firebase.on","z":"329e60d5.b5d5a","name":"test","firebaseconfig":"a6bee67b.bbbb78","childpath":"/nashville","atStart":true,"eventType":"value","queries":[],"x":155.89581680297852,"y":488.00005435943604,"wires":[["9f03564e.6bef28"]]},{"id":"9f03564e.6bef28","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"false","complete":"payload","x":393.8958168029785,"y":488.00005435943604,"wires":[]},{"id":"2335beb9.4baaa2","type":"comment","z":"329e60d5.b5d5a","name":"firebase.on() example flow","info":"This flow provides a simple example which\nconnects to the firebase \n[weather](https://publicdata-weather.firebaseio.com/)\n[open data set](https://www.firebase.com/docs/open-data/).\n\nFirebase.on(\"value\") events are fired\nwhenever the weather changes in \nNashville, TN and sent to the debug node.\n\nYou can view the data in the debug tab\nto the right.","x":162.89581680297852,"y":450.00005435943604,"wires":[]},{"id":"4266837b.cd976c","type":"comment","z":"329e60d5.b5d5a","name":"-------------------CLICK ME AND READ THE INFO PANE-------------------","info":"Before clicking the Deploy button,\nYou need to configure login credentials \nfor each node with a Red Triangle (all of \nthe Firebase nodes)\n\nYou can add new credentials by double \nclicking on any firebase node and \nclicking on the pencil icon in the top \nright corner of the edit dialog box. \nOnce you have created a set of credentials\nthey will be available in the drop down\nbox.\n\nFor this example, you will want to set\nFirebase to \"publicdata-weather\" \n(without the quotes) and Auth Type to \nNone.","x":295.3958168029785,"y":390.00005435943604,"wires":[]},{"id":"555ff562.9001ec","type":"inject","z":"329e60d5.b5d5a","name":"","topic":"","payload":"Hello Node-Red from Dweetio","payloadType":"str","repeat":"600","crontab":"","once":true,"x":130,"y":920,"wires":[["5cd2c799.d4baa8"]]},{"id":"5cd2c799.d4baa8","type":"dweetio out","z":"329e60d5.b5d5a","thing":"thingName","name":"","x":520,"y":920,"wires":[]},{"id":"e4ea96b6.af5168","type":"dweetio in","z":"329e60d5.b5d5a","thing":"thingName","name":"","x":130,"y":980,"wires":[["dcc4cba7.482128"]]},{"id":"dcc4cba7.482128","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"true","complete":"payload","x":540,"y":980,"wires":[]},{"id":"c5a0a9e0.97c358","type":"comment","z":"329e60d5.b5d5a","name":"物聯網 資料傳輸測試","info":"test\n沒有傳回來\n","x":130,"y":860,"wires":[]},{"id":"dddf0004.1c1a","type":"mqtt in","z":"329e60d5.b5d5a","name":"","topic":"noderedlecture/sensor","qos":"0","broker":"46c25fea.93f5c","x":119.99998474121094,"y":1136.9998588562012,"wires":[["38c8cb44.a21f34"]]},{"id":"38c8cb44.a21f34","type":"json","z":"329e60d5.b5d5a","name":"","x":239.9999771118164,"y":1183.9997882843018,"wires":[["7cb51fbf.d7c0b"]]},{"id":"7cb51fbf.d7c0b","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"false","complete":"false","x":471.9999694824219,"y":1202.9997863769531,"wires":[]},{"id":"5cf94013.d6a52","type":"inject","z":"329e60d5.b5d5a","name":"程式執行的頻率","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":140,"y":1380,"wires":[["daa40640.9c9408"]]},{"id":"daa40640.9c9408","type":"http request","z":"329e60d5.b5d5a","name":"英國電力開放式資料","method":"GET","url":"http://realtimeweb-prod.nationalgrid.com/SystemData.aspx","tls":"","x":230,"y":1460,"wires":[["766daeb.00a0f5"]]},{"id":"766daeb.00a0f5","type":"function","z":"329e60d5.b5d5a","name":"英國電力附載顯示","func":"// does a simple text extract parse of the http output to provide an\n// object containing the uk power demand, frequency and time\n\nif (~msg.payload.indexOf('<span')) {\n    var dem = msg.payload.split('Demand:')[1].split(\"MW\")[0];\n    var fre = msg.payload.split('Frequency:')[1].split(\"Hz\")[0];\n// 電綠\n\n\n    msg.payload = {};\n    msg.payload.demand = parseInt(dem.split(\">\")[1].split(\"<\")[0]);\n    msg.payload.frequency = parseFloat(fre.split(\">\")[1].split(\"<\")[0]);\n    \n    msg2 = {};\n    msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n\n    return [msg,msg2];\n}\n\nreturn null;","outputs":"2","noerr":0,"x":325.00001525878906,"y":1516,"wires":[["e5f44e6b.7693"],["271e6a64.6cb3b6"]]},{"id":"e5f44e6b.7693","type":"debug","z":"329e60d5.b5d5a","name":"顯示供電數據","active":true,"console":"false","complete":"payload","x":414.99998474121094,"y":1374.9999713897705,"wires":[]},{"id":"271e6a64.6cb3b6","type":"debug","z":"329e60d5.b5d5a","name":"判斷有無超過負荷","active":true,"console":"false","complete":"payload","x":462.99999237060547,"y":1409.9999656677246,"wires":[]},{"id":"4aa89de7.4b6ef4","type":"comment","z":"329e60d5.b5d5a","name":"從Web的OpenData抓數值下來","info":"","x":180,"y":1340,"wires":[]},{"id":"94c96e46.be501","type":"inject","z":"329e60d5.b5d5a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110.99999237060547,"y":1677.9998970031738,"wires":[["7fba0f71.cc501"]]},{"id":"55e73b99.8cbdb4","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"false","complete":"false","x":477.9999694824219,"y":1685.9998092651367,"wires":[]},{"id":"7fba0f71.cc501","type":"function","z":"329e60d5.b5d5a","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":299.0000190734863,"y":1681.999698638916,"wires":[["55e73b99.8cbdb4"]]},{"id":"47bf356a.1da22c","type":"comment","z":"329e60d5.b5d5a","name":"LED 閃爍測試","info":"","x":110,"y":1800,"wires":[]},{"id":"44e7eb99.c19134","type":"trigger","z":"329e60d5.b5d5a","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","name":"","x":400,"y":1940,"wires":[["34ffe9b2.d5ca26","505fddd1.2643a4"]]},{"id":"34ffe9b2.d5ca26","type":"function","z":"329e60d5.b5d5a","name":"","func":"if (msg.payload == \"off\")\n\tcontext.state = 0;\nif (msg.payload == \"on\")\n\tcontext.state = 1;\n\nif (context.state == 1)\n{\n\tif (msg.payload == 0)\n\t\treturn msg;\n\telse\n\t\treturn;\n}\nelse\n\treturn;","outputs":1,"x":516,"y":2090,"wires":[[]]},{"id":"543854c5.a13fec","type":"switch","z":"329e60d5.b5d5a","name":"","property":"payload","rules":[{"t":"eq","v":"on"},{"t":"eq","v":"off"}],"checkall":"true","outputs":2,"x":181,"y":2006,"wires":[["34ffe9b2.d5ca26","44e7eb99.c19134"],["34ffe9b2.d5ca26"]]},{"id":"505fddd1.2643a4","type":"rpi-gpio out","z":"329e60d5.b5d5a","name":"LED","pin":"12","set":"","level":"0","out":"out","x":643,"y":1909,"wires":[]},{"id":"9d8b06b7.4f5488","type":"inject","z":"329e60d5.b5d5a","name":"On","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":121,"y":1892,"wires":[["543854c5.a13fec","9266e985.bdc6c8"]]},{"id":"9266e985.bdc6c8","type":"delay","z":"329e60d5.b5d5a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":275,"y":1839,"wires":[["9fbd7966.c6a738"]]},{"id":"9fbd7966.c6a738","type":"change","z":"329e60d5.b5d5a","name":"Switch off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"x":442,"y":1835,"wires":[["543854c5.a13fec"]]},{"id":"4fe4e4fd.69a1ec","type":"inject","z":"329e60d5.b5d5a","name":"Tick every 5 secs","topic":"test","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":130,"y":2260,"wires":[["899ae673.285618"]]},{"id":"f589f719.703cd8","type":"websocket out","z":"329e60d5.b5d5a","name":"led","server":"ce5472bc.34e73","client":"","x":530,"y":2260,"wires":[]},{"id":"bae74ff9.90f51","type":"http response","z":"329e60d5.b5d5a","name":"","x":510,"y":2200,"wires":[]},{"id":"a5cb3e44.94de9","type":"http in","z":"329e60d5.b5d5a","name":"","url":"/simpleled","method":"get","swaggerDoc":"","x":80,"y":2200,"wires":[["36b246dd.e9d74a"]]},{"id":"36b246dd.e9d74a","type":"template","z":"329e60d5.b5d5a","name":"Simple Web Page","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE HTML>\n<html>\n    <head>\n    <title>simpleled Live Display</title>\n    <script type=\"text/javascript\">\n        var ws;\n        var wsUri = \"ws:\";\n        var loc = window.location;\n        console.log(loc);\n        if (loc.protocol === \"https:\") { wsUri = \"wss:\"; }\n        // This needs to point to the web socket in the Node-RED flow\n        // ... in this case it's ws/simpleled\n        wsUri += \"//\" + loc.host + loc.pathname.replace(\"simpleled\",\"ws/simpleled\");\n\n        function wsConnect() {\n            console.log(\"connect\",wsUri);\n            ws = new WebSocket(wsUri);\n            //var line = \"\";    // either uncomment this for a building list of messages\n            ws.onmessage = function(msg) {\n                var line = \"\";  // or uncomment this to overwrite the existing message\n                // parse the incoming message as a JSON object\n                var data = msg.data;\n                //console.log(data);\n                // build the output from the topic and payload parts of the object\n                line += \"<p>\"+data+\"</p>\";\n                // replace the messages div with the new \"line\"\n                document.getElementById('messages').innerHTML = line;\n                //ws.send(JSON.stringify({data:data}));\n            }\n            ws.onopen = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"connected\";\n                //ws.send(\"Open for data\");\n                console.log(\"connected\");\n            }\n            ws.onclose = function() {\n                // update the status div with the connection status\n                document.getElementById('status').innerHTML = \"not connected\";\n                // in case of lost connection tries to reconnect every 3 secs\n                setTimeout(wsConnect,3000);\n            }\n        }\n        \n        function doit(m) {\n            if (ws) { ws.send(m); }\n        }\n    </script>\n    </head>\n    <body onload=\"wsConnect();\" onunload=\"ws.disconnect();\">\n        <font face=\"Arial\">\n        <h1>simpleled Live Display</h1>\n        <div id=\"messages\"></div>\n        <button type=\"button\" onclick='doit(\"on\");'>Click to send message</button>\n        <hr/>\n        <div id=\"status\">unknown</div>\n        </font>\n    </body>\n</html>\n","x":310,"y":2200,"wires":[["bae74ff9.90f51"]]},{"id":"899ae673.285618","type":"function","z":"329e60d5.b5d5a","name":"format time nicely","func":"msg.payload = Date(msg.payload).toString();\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":2260,"wires":[["f589f719.703cd8"]]},{"id":"bd34655c.8a71b8","type":"websocket in","z":"329e60d5.b5d5a","name":"","server":"ce5472bc.34e73","client":"","x":350,"y":2320,"wires":[["ea64a576.ea8998","b8a6f02b.f31d1","28d98603.a448da"]]},{"id":"ea64a576.ea8998","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"false","complete":"false","x":570,"y":2320,"wires":[]},{"id":"7c4ca959.c78238","type":"trigger","z":"329e60d5.b5d5a","op1":"1","op2":"0","op1type":"val","op2type":"val","duration":"250","extend":"false","units":"ms","name":"","x":720,"y":2480,"wires":[["f0057747.966448","a707c0f1.3ea4a"]]},{"id":"f0057747.966448","type":"function","z":"329e60d5.b5d5a","name":"","func":"if (msg.payload == \"off\")\n\tcontext.state = 0;\nif (msg.payload == \"on\")\n\tcontext.state = 1;\n\nif (context.state == 1)\n{\n\tif (msg.payload == 0)\n\t\treturn msg;\n\telse\n\t\treturn;\n}\nelse\n\treturn;","outputs":1,"x":836,"y":2630,"wires":[["1a65d52d.82053b"]]},{"id":"1a65d52d.82053b","type":"delay","z":"329e60d5.b5d5a","name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1064,"y":2631,"wires":[["7c4ca959.c78238"]]},{"id":"28d98603.a448da","type":"switch","z":"329e60d5.b5d5a","name":"","property":"payload","rules":[{"t":"eq","v":"on"},{"t":"eq","v":"off"}],"checkall":"true","outputs":2,"x":501,"y":2546,"wires":[["f0057747.966448","7c4ca959.c78238"],["f0057747.966448"]]},{"id":"a707c0f1.3ea4a","type":"rpi-gpio out","z":"329e60d5.b5d5a","name":"LED","pin":"12","set":"","level":"0","out":"out","x":963,"y":2449,"wires":[]},{"id":"b8a6f02b.f31d1","type":"delay","z":"329e60d5.b5d5a","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":595,"y":2379,"wires":[["d95a7795.a5c198"]]},{"id":"d95a7795.a5c198","type":"change","z":"329e60d5.b5d5a","name":"Switch off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"x":740,"y":2340,"wires":[["28d98603.a448da"]]},{"id":"dc0f9cc1.775ba","type":"http in","z":"329e60d5.b5d5a","name":"","url":"/chat","method":"post","x":80,"y":2840,"wires":[["85e7c3c1.a25f5"]]},{"id":"54a6bc27.d1bbe4","type":"http response","z":"329e60d5.b5d5a","name":"","x":601,"y":2839,"wires":[]},{"id":"48882fe2.da028","type":"template","z":"329e60d5.b5d5a","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"\n  <iframe src=\"http://iot.local:1885/dialog\" name=\"iframe_a\" height=\"70%\"></iframe>\n  <form name=\"frm\" action=\"http://iot.local:1885/chat\" method=\"post\">\n  <b>Message from {{payload}}</b><br>\n  <input type=\"text\" name=\"message\" size=\"90%\"/>\n  <input type=\"hidden\" name=\"user\" value=\"{{payload}}\"><br>\n  <button type=\"submit\">Submit</button>\n  </form>\n  \n  <SCRIPT language=\"JavaScript\">\n  window.setInterval(\"reloadIFrame();\", 10000);\n  function reloadIFrame() { window.frames[\"iframe_a\"].location.reload(); }\n  </SCRIPT>\n","x":427,"y":2839,"wires":[["54a6bc27.d1bbe4"]]},{"id":"11d55c3d.4fd354","type":"http in","z":"329e60d5.b5d5a","name":"","url":"/dialog","method":"get","x":83,"y":2900,"wires":[["f2d149fe.64cb88"]]},{"id":"ec91ab75.6b98d8","type":"http response","z":"329e60d5.b5d5a","name":"","x":601,"y":2900,"wires":[]},{"id":"9111a49a.534f78","type":"template","z":"329e60d5.b5d5a","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"{{{payload}}}","x":429,"y":2900,"wires":[["ec91ab75.6b98d8"]]},{"id":"85e7c3c1.a25f5","type":"function","z":"329e60d5.b5d5a","name":"","func":"  if (msg.req.body[\"user\"] != \"\") {\n    msg.payload = msg.req.body[\"user\"]\n  }\n  if (msg.req.body[\"message\"] != undefined) {\n    context.global.dialog += \n    msg.req.body[\"user\"]+': '+msg.req.body[\"message\"]+\"<BR>\";\n  }\ncontext.global.dialog = context.global.dialog || \"\";\nreturn msg;","outputs":1,"x":250,"y":2839,"wires":[["48882fe2.da028"]]},{"id":"f2d149fe.64cb88","type":"function","z":"329e60d5.b5d5a","name":"","func":"msg.payload = context.global.dialog;\nreturn msg;","outputs":1,"x":252,"y":2899,"wires":[["9111a49a.534f78"]]},{"id":"60525e0f.0a238","type":"http in","z":"329e60d5.b5d5a","name":"","url":"/login","method":"get","x":81,"y":2744,"wires":[["23fa1f86.a1ca4"]]},{"id":"23fa1f86.a1ca4","type":"template","z":"329e60d5.b5d5a","name":"","field":"payload","fieldType":"msg","syntax":"mustache","template":"\n  <form action=\"http://iot.local:1885/chat\" method=\"post\">\n  <b>User</b><br> <input type=\"text\" name=\"user\"/><br>\n  <button type=\"submit\">Submit</button>\n  </form>","x":241,"y":2744,"wires":[["9dffe8.4ff2f018"]]},{"id":"9dffe8.4ff2f018","type":"http response","z":"329e60d5.b5d5a","name":"","x":399,"y":2744,"wires":[]},{"id":"83bf80b0.6331f","type":"http in","z":"329e60d5.b5d5a","name":"","url":"/mypage","method":"get","x":638,"y":2417,"wires":[["224a5cfb.2b9764"]]},{"id":"b8d2bb8c.d9e348","type":"http response","z":"329e60d5.b5d5a","name":"","x":1195,"y":2417,"wires":[]},{"id":"578223b6.c7b0dc","type":"template","z":"329e60d5.b5d5a","name":"template","field":"payload","template":"This is the <b>message</b>: {{payload}}","x":1047,"y":2417,"wires":[["b8d2bb8c.d9e348"]]},{"id":"224a5cfb.2b9764","type":"function","z":"329e60d5.b5d5a","name":"where things happen","func":"if (msg.topic === \"new message\") {\n  context.value = msg.payload;\n  return null;\n} else {\n  msg.payload = context.value || \"never got anything\";\n  return msg;\n}","outputs":1,"x":849,"y":2417,"wires":[["578223b6.c7b0dc"]]},{"id":"32e79bac.dd5574","type":"inject","z":"329e60d5.b5d5a","name":"","topic":"new message","payload":"Have a nice day","payloadType":"string","repeat":"","crontab":"","once":false,"x":810,"y":2240,"wires":[["224a5cfb.2b9764"]]},{"id":"68412c69.2b1734","type":"comment","z":"329e60d5.b5d5a","name":"觀看溫溼度","info":"","x":90,"y":160,"wires":[]},{"id":"86b9eb5.a906f18","type":"comment","z":"329e60d5.b5d5a","name":"HTTP 聊天室","info":"","x":100,"y":2700,"wires":[]},{"id":"786fed09.6cf634","type":"http in","z":"c648e5bb.eafce8","name":"","url":"/looktemphum","method":"get","swaggerDoc":"","x":110,"y":120,"wires":[["e3787d95.81f91"]]},{"id":"15894532.f8d1eb","type":"comment","z":"c648e5bb.eafce8","name":"網頁及時查看溫溼度","info":"","x":110,"y":60,"wires":[]},{"id":"e3787d95.81f91","type":"template","z":"c648e5bb.eafce8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<a href=\"http://iot.local:1885/temphum\"  >\n    \n    \n    <button type=\"button\">\n   \n   查看資料\n    \n    </button>\n    \n    </a>","x":330,"y":120,"wires":[["815c9747.02f948"]]},{"id":"2b8c130d.c9800c","type":"function","z":"c648e5bb.eafce8","name":"感測溫濕度","func":"var sensor = global.get('sensor');\n\nsensor.initialize(11, 4);\nvar readout = sensor.read();\nmsg.topic=\"temp\";\nmsg.payload = { 溫度:readout.temperature.toFixed(2) + \" 度C\" , 濕度:readout.humidity.toFixed(2) + \" %\" };\nconsole.log(msg);\nreturn msg;\n","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["9f254c1a.51a6b","fc2ebadd.990468"]]},{"id":"9f254c1a.51a6b","type":"debug","z":"c648e5bb.eafce8","name":"","active":true,"console":"false","complete":"false","x":670,"y":260,"wires":[]},{"id":"34fdfb80.06a1f4","type":"http in","z":"c648e5bb.eafce8","name":"","url":"/temphum","method":"get","swaggerDoc":"","x":110,"y":200,"wires":[["2b8c130d.c9800c"]]},{"id":"fc2ebadd.990468","type":"http response","z":"c648e5bb.eafce8","name":"","x":690,"y":200,"wires":[]},{"id":"815c9747.02f948","type":"http response","z":"c648e5bb.eafce8","name":"","x":490,"y":120,"wires":[]},{"id":"24b402ff.e6a4be","type":"comment","z":"329e60d5.b5d5a","name":"FreeBoard 使用教學","info":"範例建置\n1. 擷取開發放資料溫濕度 並呈現圖表化","x":125.51704406738281,"y":3031.198829650879,"wires":[]},{"id":"ebc2e451.ad14b8","type":"openweathermap in","z":"329e60d5.b5d5a","name":"台灣 台中的天氣","lon":"","lat":"","city":"Taichung","country":"TW","language":"en","x":115.51134490966797,"y":3078.9881858825684,"wires":[["884a2443.f8b558","b6ee34dd.d126d8"]]},{"id":"884a2443.f8b558","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"false","complete":"false","x":364.50851821899414,"y":3170.2293758392334,"wires":[]},{"id":"b6ee34dd.d126d8","type":"freeboard","z":"329e60d5.b5d5a","name":"freeboard","x":386.508544921875,"y":3069.107681274414,"wires":[]},{"id":"97e82982.697648","type":"inject","z":"329e60d5.b5d5a","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":111.01421356201172,"y":3295.005558013916,"wires":[["20fb7ccd.6dfe44"]]},{"id":"20fb7ccd.6dfe44","type":"function","z":"329e60d5.b5d5a","name":"資料處理呈現","func":"var sensor = global.get('sensor');\n\nsensor.initialize(11, 4);\nvar readout = sensor.read();\nmsg.topic=\"temp\";\nmsg.payload = { \n    溫度:readout.temperature.toFixed(2) , \n    濕度:readout.humidity.toFixed(2)\n    \n};\nconsole.log(msg);\nreturn msg;\n","outputs":1,"noerr":0,"x":202.01419067382812,"y":3361.0055561065674,"wires":[["617281ad.3eb43"]]},{"id":"617281ad.3eb43","type":"freeboard","z":"329e60d5.b5d5a","name":"freeboard1","x":316.51702880859375,"y":3424.8404698371887,"wires":[]},{"id":"dd6e5b7b.f92cb8","type":"comment","z":"329e60d5.b5d5a","name":"Freeboard室內溫溼度感測器資料呈現","info":"","x":155.50850677490234,"y":3255.0197410583496,"wires":[]},{"id":"27af168.1d142ea","type":"comment","z":"329e60d5.b5d5a","name":"MATT 測試","info":"","x":110.51704406738281,"y":1077.292610168457,"wires":[]},{"id":"a0c9969c.b21e08","type":"comment","z":"329e60d5.b5d5a","name":"節點測試","info":"","x":95.51704406738281,"y":1618.6562576293945,"wires":[]},{"id":"615aa96b.54e788","type":"comment","z":"329e60d5.b5d5a","name":"網頁觸發LED燈測試","info":"","x":112.51988220214844,"y":2147.377754211426,"wires":[]},{"id":"f5b1b4cb.306f78","type":"comment","z":"329e60d5.b5d5a","name":"lecture 1 Node-red","info":"","x":150,"y":3520,"wires":[]},{"id":"be71f8a5.b36c68","type":"openweathermap in","z":"329e60d5.b5d5a","name":"台灣 台中的天氣","lon":"","lat":"","city":"Taichung","country":"TW","language":"en","x":140,"y":3980,"wires":[["9c3fe799.866bb8"]]},{"id":"e35e091a.8d34f8","type":"comment","z":"329e60d5.b5d5a","name":"空氣警示使用twitter","info":"","x":140,"y":3920,"wires":[]},{"id":"9c3fe799.866bb8","type":"function","z":"329e60d5.b5d5a","name":"","func":"if  (msg.payload.weather === \"Clouds\"){\n    msg.payload = \"今天台中天氣多雲 !\"\n    return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":230,"y":4020,"wires":[["a55422d0.a09ad"]]},{"id":"a55422d0.a09ad","type":"twitter out","z":"329e60d5.b5d5a","twitter":"9d1c1f37.12df6","name":"Tweet","x":330,"y":4100,"wires":[]},{"id":"b6c7e53a.805388","type":"rpi-gpio out","z":"329e60d5.b5d5a","name":"","pin":"12","set":"","level":"0","out":"out","x":320,"y":4280,"wires":[]},{"id":"eb73ebf9.775ad8","type":"trigger","z":"329e60d5.b5d5a","op1":"open11","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":false,"units":"s","reset":"","name":"","x":203,"y":4198,"wires":[["b6c7e53a.805388","d6836d79.f706b"]]},{"id":"5e80d007.42944","type":"twitter in","z":"329e60d5.b5d5a","twitter":"93b81480.21fc38","tags":"","user":"event","name":"","topic":"tweets","inputs":0,"x":170,"y":4140,"wires":[["eb73ebf9.775ad8","69bf9958.dcbd08"]]},{"id":"69bf9958.dcbd08","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"false","complete":"false","x":480,"y":4180,"wires":[]},{"id":"d6836d79.f706b","type":"debug","z":"329e60d5.b5d5a","name":"","active":true,"console":"false","complete":"false","x":480,"y":4240,"wires":[]}]